
   <div class="row">

            {% for car in cars %}
    <div class = "col-sm-6 col-md-3">
      <a href="{{ path('car_show', {'slug': car.slug}) }}" title="Zobacz więcej o: {{ car.name }}" class = "thumbnail">
         <img src = "{{ asset('uploads/' ~ car.picture) }}" alt = "Generic placeholder thumbnail">
      
      <p>{{ car.name }}</p>
          
        </a> 
          
   </div>
    {% endfor %}  
   </div>