{% extends "ProjektBundle::layout.html.twig" %}

 {% block content %}
        {% block glowna %}
        <center>
            <div class="jumbotron">
    
  <table>
  
    <tr>
    
  <td width="55%">
      <center><h1>Potrzebujesz samochodu?</h1></center>
  </td>
  
  <td>
        <center><p><a class="btn btn-xlarge btn-success" href="{{path('fos_user_security_login')}}" role="button">Zaloguj się</a></p></center>
  </td>
    </tr>
  </table>
  
      </div>

      {% endblock %}
      {% block samochodyWszystkie %}
  <div class="row">
    <div class="row marketing">
        <div class="col-lg-6">
          <h1>Nasze samochody:</h1>
          <p>Poniższe samochody dostępne są do Twojej dyspozycji!</p>
    </div>
  </div>
    
    <div class = "col-sm-6 col-md-3">
      <a href = "subpage.php" class = "thumbnail">
         <img src = "http://bestcarmag.com/sites/default/files/9295571volkswagen-golf-02.jpg" alt = "Generic placeholder thumbnail">
      
      <p>Voklswagen Golf</p>
                 
        </a> 
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.everythingmotoring.com/DataEditorUploads/BMW%20X6-Northern-Ireland.jpg" alt = "Generic placeholder thumbnail">
       <p>BMW X6</p>
                 
        </a> 
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.kimballstock.com/pix/AUT/06/AUT-06-IZ0027-01P.JPG" alt = "Generic placeholder thumbnail">
       <p>Aston Martin DB9</p>
                 
        </a> 
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.bristolstreet.co.uk/new/vertu/car/alfa-romeo/giulietta/giulietta%5E640x480%5E.jpg" alt = "Generic placeholder thumbnail">
       <p>Alfa Romeo Gulietta</p>
                 
        </a> 
   </div>
   
      <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.auto8.pl/images/volkswagen-passat-bluemotion_black_12.jpg" alt = "Generic placeholder thumbnail">
      <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
      <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.thepricelist.in/wp-content/uploads/2014/10/fiat_car-brand-price-list-in-india.jpg" alt = "Generic placeholder thumbnail">
      <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
      <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://1.bp.blogspot.com/-VdAcMhAUTX8/UeLgy279OGI/AAAAAAAAJDQ/0N1IDk76CEA/s1600/Mercedes-Benz-S600-Sedan-12.jpg" alt = "Generic placeholder thumbnail">
      <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>

      <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.jacksonsci.com/newcar_images/detail_swift-sport.jpg" alt = "Generic placeholder thumbnail">
      <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
      <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.kimballstock.com/pix/AUT/45/AUT-45-IZ0234-01P.JPG" alt = "Generic placeholder thumbnail">
      <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
      </div>
    
    
    <br>
    {% endblock %}
    
    {% block najczesciejWypozyczane %}
    <div class="row">
    <div class="row marketing">
        <div class="col-lg-6">
          <h2>Najczęściej wypożyczane samochody:</h2>
          <p>Poniższe samochody użytkownicy wybierali najczęściej!</p>
    </div>
  </div>
    
    <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://bestcarmag.com/sites/default/files/9295571volkswagen-golf-02.jpg" alt = "Generic placeholder thumbnail">
           <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.everythingmotoring.com/DataEditorUploads/BMW%20X6-Northern-Ireland.jpg" alt = "Generic placeholder thumbnail">
           <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.kimballstock.com/pix/AUT/44/AUT-44-IZ0286-01P.JPG" alt = "Generic placeholder thumbnail">
           <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
   
      </div>
    
    
    <br>
    
    {% endblock %}

     {% block samochodyOceniane %}
    <div class="row">
    <div class="row marketing">
        <div class="col-lg-6">
          <h2>Najczęściej oceniane samochody:</h2>
          <p>Poniższe samochody użytkownicy oceniali najczęściej!</p>
    </div>
  </div>
    
    <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://bestcarmag.com/sites/default/files/9295571volkswagen-golf-02.jpg" alt = "Generic placeholder thumbnail">
           <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.everythingmotoring.com/DataEditorUploads/BMW%20X6-Northern-Ireland.jpg" alt = "Generic placeholder thumbnail">
           <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.kimballstock.com/pix/AUT/44/AUT-44-IZ0286-01P.JPG" alt = "Generic placeholder thumbnail">
           <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
   

      </div>
 
    </div>
  <br>
  

</div>
    <script src="{{asset('bundles/projekt/js/jquery.min.js')}}"></script>
    <script src="{{asset('bundles/projekt/js/bootstrap.min.js')}}"></script>
      {% endblock %}
    {% endblock %}