{% extends "ProjektBundle:Kategorie:category.html.twig" %}


{% block content %}

	   <div class="row">
    <div class="row marketing">
        <div class="col-lg-6">
        <center><br><br>
          <h1>Samochody sportowe:</h1>
      	</center>
    </div>
  </div>
    
    <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://bestcarmag.com/sites/default/files/9295571volkswagen-golf-02.jpg" alt = "Generic placeholder thumbnail">
           <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.everythingmotoring.com/DataEditorUploads/BMW%20X6-Northern-Ireland.jpg" alt = "Generic placeholder thumbnail">
           <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <a href = "#" class = "thumbnail">
         <img src = "http://www.kimballstock.com/pix/AUT/44/AUT-44-IZ0286-01P.JPG" alt = "Generic placeholder thumbnail">
           <p>Alfa Romeo Gulietta</p>
                 
        </a>
   </div>
   
   

      </div>
 
    </div>
  <br>
  

</div>
    <script src="{{asset('bundles/projekt/js/jquery.min.js')}}"></script>
    <script src="{{asset('bundles/projekt/js/bootstrap.min.js')}}"></script>


{% endblock %}